.btn {
  border-radius: 9999px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.btn-sm {
    height: 2.5rem;
    padding: 0 2.5rem;
}

.btn-outline {
    background-color: #29b04b; 
    color: #fff; 
    transition: all 0.3s ease;
}

.btn-lg {
  height: 4rem; /* Equivalent to h-16 in Tailwind CSS */
  padding-left: 50px;
  padding-right: 50px;
}

.faq__item.open .faq__answer {
  height: 100%;
}

.btn_campaign{
  background-color: yellow;
  color: red;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top:80vh;
  margin-left:-25rem;
  position:absolute;
}
.btn_cross{
  width:50px;
  height:50px;
  font-size: 36px;
  font-weight: 700;
  background-color: yellow;
  color: red;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.box_toa{width:700px;margin-top:-300px;margin-left:-50px;}
.cimg_toa{
  --x: 20px;
  --y: 10px;
  transform:  perspective(1000px) rotateY(var(--_a,5deg));
  margin-top:18.75rem;
  margin-left:-1.875rem;
  animation-name: animate_toa;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes animate_toa{
  0%{
    --_a: 0deg;
  --_c: calc(100% - var(--y));
  }
  5%{
    --_a: 2deg;
  --_c: calc(100% - var(--y));
  }
  10%{
    --_a: 4deg;
  --_c: calc(100% - var(--y));
  }
  15%{
    --_a: 6deg;
  --_c: calc(100% - var(--y));
  }
  20%{
    --_a: 8deg;
  --_c: calc(100% - var(--y));
  }
  25%{
    --_a: 10deg;
  --_c: calc(100% - var(--y));
  }
  30%{
    --_a: 12deg;
  --_c: calc(100% - var(--y));
  }
  35%{
    --_a: 14deg;
  --_c: calc(100% - var(--y));
  }
  40%{
    --_a: 16deg;
  --_c: calc(100% - var(--y));
  }
  45%{
    --_a: 18deg;
  --_c: calc(100% - var(--y));
  }
  50%{
    --_a: 20deg;
  --_c: calc(100% - var(--y));
  }
  55%{
    --_a: 18deg;
  --_c: calc(100% - var(--y));
  }
  60%{
    --_a: 16deg;
  --_c: calc(100% - var(--y));
  }
  65%{
    --_a: 14deg;
  --_c: calc(100% - var(--y));
  }
  70%{
    --_a: 12deg;
  --_c: calc(100% - var(--y));
  }
  75%{
    --_a: 10deg;
  --_c: calc(100% - var(--y));
  }
  80%{
    --_a: 8deg;
  --_c: calc(100% - var(--y));
  }
  85%{
    --_a: 6deg;
  --_c: calc(100% - var(--y));
  }
  90%{
    --_a: 4deg;
  --_c: calc(100% - var(--y));
  }
  95%{
    --_a: 2deg;
  --_c: calc(100% - var(--y));
  }
  100%{
    --_a: 0deg;
  --_c: calc(100% - var(--y));
  }
}
@media only screen and (max-width: 768px) {
    .mobi_mobile{
        background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.4) 100%, rgba(254, 246, 246, 0) 100% ) !important;
        background-position-x: 76% !important;
    }
}
@media only screen and (max-width: 640px) {
    .mobi_mobile{
        background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.4) 100%, rgba(254, 246, 246, 0) 100% ) !important;
        background-position-x: 79% !important;
    }
    .container_toa{
      margin-left: -100px;
      margin-top: 200px;
    }
    .container_cyc{
      margin-top: 300px;
      margin-left: 50px;
    }
    .box_toa{
      width: 300px;
      margin-left: -20px;
    }
    .cimg_toa{
      margin-left: 30px;
    }
    .btn_campaign{
      font-size: 1.1rem;
      /* padding: 10px 35px; */
      margin-left: -20.75rem;
    }
}

@media screen and (max-width: 1024px){
  .btn_campaign{
    margin-top:50vh!important;
    font-size: 1.1rem;
    /* padding: 10px 35px; */
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px){
  .btn_campaign{
    margin-top: 35rem!important;
  }
}



/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-secondary font-primary text-[17px] leading-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-secondary leading-[120%];
}

.h1 {
  @apply text-[36px] xl:text-[64px] font-semibold;
}

.h2 {
  @apply text-[30px] xl:text-[44px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
  @apply text-[20px] xl:text[26px] font-semibold;
}

.h4 {
  @apply text-[20px] xl:text-[26px] font-semibold capitalize;
}

.btn {
  @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-sm {
  @apply h-14 px-10;
}

.btn-lg {
  @apply h-16 px-[50px];
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
  @apply bg-white text-secondary hover:bg-white/90;
}

.btn-outline {
  @apply bg-transparent border-2 border-accent text-secondary hover:bg-accent hover:border-transparent hover:text-white;
}

.input,
.select {
  @apply w-full rounded-[10px] h-[66px] outline-none border border-[#dbdfdf] text-secondary font-light placeholder:font-light placeholder:text-secondary;
}

.input {
  @apply px-4;
}

.section {
  @apply py-12 xl:py-[150px];
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-accent;
}

.faq__item.open .faq__answer {
  @apply h-full;
} */
